<template>
  <div>
    <b-overlay
      spinner-variant="danger"
      variant="dark"
      z-index="900"
      fixed
      :show="generatingPdf"
      no-wrap
    />
    <vue-html2pdf
      :show-layout="false"
      :float-layout="true"
      :enable-download="false"
      :preview-modal="true"
      filename="SalesReport"
      :pdf-quality="1"
      :manual-pagination="true"
      pdf-format="a4"
      pdf-orientation="portrait"
      @progress="onProgress"
      ref="html2Pdf"
    >
      <section slot="pdf-content" class="p-3">
        <sales-report-export :items="exportItems" />
      </section>
    </vue-html2pdf>

    <div class="card">
      <div class="card-body text-center" v-if="branchMerchantLoading">
        <b-icon
          icon="three-dots"
          font-scale="8"
          animation="cylon"
          class="mb-4"
        ></b-icon>
      </div>
      <div class="card-body" v-else>
        <div class="d-flex mb-4" v-if="merchantBranchId">
          <b-button class="mr-3 mb-5" variant="info" @click="generatePDF">{{
            $t("PAGES.SALES_MANAGEMENT.LIST.EXPORT_TO_PDF")
          }}</b-button>
          <JsonExcel
            v-for="mimeType in ['xls', 'csv']"
            :key="mimeType"
            :name="`SalesReport.${mimeType}`"
            :fetch="() => generateExcel(mimeType)"
            :fields="excelFields"
            :type="mimeType"
            :before-generate="
              () => {
                generatingPdf = true;
              }
            "
            :before-finish="
              () => {
                generatingPdf = false;
              }
            "
          >
            <b-button
              class="mr-3 mb-5"
              :variant="mimeType === 'xls' ? 'success' : 'primary'"
            >
              {{
                mimeType === "xls"
                  ? $t("PAGES.SALES_MANAGEMENT.LIST.EXPORT_TO_EXCEL")
                  : "CSV"
              }}</b-button
            >
          </JsonExcel>
        </div>
        <div class="row align-items-center mb-2">
          <div class="col-md-8 col-sm-12">
            <JustDatePickers
              :filters="filters"
              @option-selected="onOptionSelected"
              @on-start-date-selected="onStartDateSelected"
              @on-end-date-selected="onEndDateSelected"
            />
          </div>
          <div class="col-md-4 col-sm-12">
            {{ $t("ROUTES.BRANCH") }}
            <b-form-select
              @change="onBranchSelected"
              v-model="merchantBranchId"
              :options="merchantBranches"
              text-field="title"
              value-field="branch"
            >
              <!-- This slot appears above the options from 'options' prop -->
              <template #first>
                <b-form-select-option :value="null">{{
                  $t("FORM.PLEASE_SELECT")
                }}</b-form-select-option>
              </template>
            </b-form-select>
          </div>
        </div>
        <div class="row align-items-center mb-4">
          <div class="col-md-8 col-sm-12">
            &nbsp;
            <TableFilter
              @filter-change="onFilterChange"
              :searchPlaceHolder="$t('ECOMMERCE.COMMON.FILTER')"
            />
          </div>

          <div class="col-md-4 col-sm-12">
            {{ $t("ECOMMERCE.COMMON.FILTER") }}
            <b-form-select
              v-model="filterIncludedFields"
              :options="filterIncludedFieldsArray"
              text-field="text"
              value-field="field"
            >
            </b-form-select>
          </div>
        </div>

        <b-table
          ref="listTable"
          id="orders-table"
          primary-key="id"
          :items="fetchData"
          :fields="fields"
          :filter="filter"
          selectable
          select-mode="single"
          :busy.sync="isBusy"
          :per-page="perPage"
          :current-page="currentPage"
          @refreshed="onRefreshed"
          :responsive="true"
        >
          <template #table-busy>
            <div class="text-center text-danger my-5">
              <b-spinner class="align-middle busy-spinner"></b-spinner>
            </div>
          </template>

          <template #cell(nexusAmount)="data">
            {{ getPaidCryptoQuantity(data.item) }}
          </template>
          <template #cell(price)="data">
            {{ data.value }}
          </template>
          <template #cell(paymentUnitName)="data">
            {{ data.value }}
            <!-- {{ getPaymentUnitName(data.item) }} -->
          </template>
          <template #cell(selectedCurrencyCode)="data">
            {{ data.item.selectedCurrencyCode }}
            <!--            {{ data.value }}-->
          </template>

          <template #cell(fee)="data">
            <span class="d-inline-flex align-items-center">
              {{ data.value }}
              <b-icon
                icon="check"
                font-scale="2"
                class="common-icon-color"
                variant="success"
                v-if="data.item.feeIncluded"
              ></b-icon>
              <b-icon
                icon="x"
                v-else
                font-scale="2"
                class="common-icon-color"
              ></b-icon>
            </span>
          </template>

          <template #cell(orderTotal)="data">
            {{ data.value }}
          </template>

          <template #cell(orderStatus)="data">
            <span class="d-inline-flex align-items-center">
              <span
                class="badge mr-1"
                :class="[getOrderBadgeAndLabel(data.item.status).itemClass]"
              >
                {{ getOrderBadgeAndLabel(data.item.status).itemLabel }}
              </span>
            </span>
          </template>

          <template #cell(paymentStateName)="data">
            <span class="d-inline-flex align-items-center">
              <span
                class="badge mr-1"
                :class="[paymentStateClass(data.item.paymentStateId)]"
              >
                {{
                  $t(
                    `PAGES.SALES_MANAGEMENT.LIST.PAYMENT_STATES[${data.item.paymentStateId}]`
                  )
                }}
              </span>
            </span>
          </template>
          <template #cell(refundBtnAction)="data">
            <span
              class="badge badge-danger"
              @click="onClickRefund(data.item)"
              v-if="
                isMerchant &&
                  [1, 5].includes(data.item.status) &&
                  data.item.platform === 'FireBlock'
              "
            >
              {{ $t("PAGES.SALES_MANAGEMENT.LIST.REFUND_PAYMENT") }}
            </span>
          </template>
        </b-table>

        <div class="row align-items-center mt-5">
          <h6 class="col-12">
            {{
              $t("PAGES.SALES_MANAGEMENT.LINK_SALES.COMPLETED_ORDERS_AMOUNT")
            }}
          </h6>
          <div class="col-12 align-items-center">
            <div
              v-for="(orderTotalItem, idx) in ordersTotal"
              :key="`orderTotal-${idx}-${orderTotalItem.id}`"
              class="d-flex flex-row justify-content-between"
            >
              <span class="col-4">{{ orderTotalItem.name }}</span>
              <span class="col-4">{{ orderTotalItem.orderTotal }}</span>
              <span class="col-4"
                >({{
                  $t("PAGES.SALES_MANAGEMENT.LINK_SALES.ORDERS_COUNT", {
                    count: orderTotalItem.ordersCount
                  })
                }})</span
              >
            </div>
          </div>
          <div class="mt-5 col-12 pt-5">
            <b-pagination
              align="fill"
              v-model="currentPage"
              :total-rows="totalRows"
              :per-page="perPage"
              aria-controls="orders-table"
            ></b-pagination>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>
<script>
import VueHtml2pdf from "vue-html2pdf";
import { SET_BREADCRUMB } from "@/store/modules/breadcrumbs";
import {
  getOrderBadgeAndLabel,
  getPaymentUnitName,
  getPaidCryptoQuantity
} from "../../../utils/order-helpers";
import Api from "@/services/api";
import TableFilter from "@/components/list/TableFilter.vue";
import JustDatePickers from "@/components/list/JustDatePickers.vue";
import { ListMixin } from "@/mixins/list.mixin";
import SalesReportExport from "@/components/list/SalesReportExport.vue";
import JsonExcel from "vue-json-excel";
import { paymentStateClass } from "@/constants";
import { mapGetters } from "vuex";
import Swal from "sweetalert2";

export default {
  components: {
    TableFilter,
    JustDatePickers,
    VueHtml2pdf,
    SalesReportExport,
    JsonExcel
  },
  mixins: [ListMixin],
  data() {
    return {
      filterIncludedFieldsArray: [
        {
          text: this.$t("PAGES.SALES_MANAGEMENT.LIST.ORDER_ID"),
          field: "orderNumber"
        },
        {
          text: this.$t("PAGES.SALES_MANAGEMENT.LIST.SELECTED_CURRENCY_CODE"),
          field: "selectedCurrencyCode"
        },
        {
          text: this.$t("PAGES.SALES_MANAGEMENT.LIST.PLATFORM"),
          field: "platform"
        },
        {
          text: this.$t("PAGES.SALES_MANAGEMENT.LIST.PAYMENT_UNIT_NAME"),
          field: "paymentUnit.name"
        }
      ],
      filterIncludedFields: "orderNumber",
      generatingPdf: false,
      merchantBranches: [],
      merchantBranchId: null,
      exportItems: [],
      filters: [
        {
          text: "PAGES.SALES_MANAGEMENT.LIST.STATUS",
          field: "status",
          currentValue: undefined
        }
      ],
      fields: [
        {
          key: "_id",
          label: "ID",
          sortable: true
        },
        {
          key: "orderNumber",
          label: this.$t("PAGES.SALES_MANAGEMENT.LIST.ORDER_ID"),
          sortable: true
        },
        {
          key: "selectedCurrencyCode",
          label: this.$t("PAGES.SALES_MANAGEMENT.LIST.CRYPTO_CURRENCY_CODE"),
          class: "text-center"
        },
        {
          key: "amount",
          label: this.$t("PAGES.SALES_MANAGEMENT.LIST.CRYPTO_QUANTITY"),
          class: "text-center"
        },
        {
          key: "nexusAmount",
          label: this.$t("PAGES.SALES_MANAGEMENT.LIST.CRYPTO_QUANTITY_PAID"),
          class: "text-center"
        },
        {
          key: "paymentUnitName",
          label: this.$t("PAGES.SALES_MANAGEMENT.LIST.PAYMENT_UNIT"),
          class: "text-center"
        },
        {
          key: "price",
          label: this.$t("PAGES.SALES_MANAGEMENT.LIST.PRICE"),
          sortable: true,
          class: "text-right"
        },
        {
          key: "fee",
          label: this.$t("PAGES.SALES_MANAGEMENT.LIST.COMMISSION"),
          sortable: true,
          class: "text-center"
        },
        {
          key: "orderTotal",
          label: this.$t("PAGES.SALES_MANAGEMENT.LIST.TOTAL"),
          class: "text-right"
        },
        {
          key: "createdAt",
          label: this.$t("PAGES.SALES_MANAGEMENT.LIST.DATE"),
          class: "text-center",
          sortable: true,
          formatter: value => {
            return this.$moment(value).format("DD.MM.YYYY");
          }
        },
        {
          key: "platform",
          label: this.$t("PAGES.SALES_MANAGEMENT.LIST.PLATFORM"),
          class: "text-center",
          sortable: true
        },
        {
          key: "orderStatus",
          label: this.$t("PAGES.SALES_MANAGEMENT.LIST.STATUS"),
          sortable: true,
          class: "text-center"
        },
        {
          key: "paymentStateName",
          label: this.$t("PAGES.SALES_MANAGEMENT.LIST.PAYMENT_STATE"),
          class: "text-center",
          sortable: true
        },
        {
          key: "refundBtnAction",
          label: "",
          class: "text-center"
        }
      ],
      excelFields: {},
      excelType: "xls",
      ordersTotal: [],
      branchMerchantLoading: false
    };
  },
  mounted() {
    this.getAllBranchMerchants();
    this.$store.dispatch(SET_BREADCRUMB, [
      { title: this.$t("ROUTES.MERCHANT_BRANCH_REPORT") }
    ]);
  },
  computed: {
    ...mapGetters({
      isMerchant: "isMerchant"
    }),
    fetchUrl() {
      return `companies/${this.merchantBranchId}/company-orders`;
    }
  },
  methods: {
    async getAllBranchMerchants() {
      this.branchMerchantLoading = true;
      try {
        const res = await this.$store.dispatch(
          "company/GET_ALL_BRANCH_MERCHANT"
        );
        if (res.data?.data?.length > 0) {
          const firstMerch = res.data.data[0].branch;
          this.merchantBranches = res.data.data;
          this.merchantBranchId = firstMerch;
          this.fetchOrdersTotals(firstMerch);
        }
        this.branchMerchantLoading = false;
      } catch (error) {
        this.branchMerchantLoading = false;
        console.log("Branch-Report-List@getAllBranchMerchants error: ", error);
      }
    },
    onRefreshed() {
      this.$refs.listTable.refresh();
    },
    getOrderBadgeAndLabel: getOrderBadgeAndLabel,
    getPaymentUnitName: getPaymentUnitName,
    async generatePDF() {
      if (this.merchantBranchId) {
        const url = `company-orders/${this.merchantBranchId}/branch-sales-report`;
        const fetchedData = await Api.get(url);
        this.generatingPdf = true;
        this.exportItems = fetchedData.data;
        this.$refs.html2Pdf.generatePdf();
      }
    },
    onProgress(event) {
      this.generatingPdf = event < 100;
    },
    onBranchSelected() {
      if (!this.merchantBranchId) {
        return;
      }
      this.$refs.listTable.refresh();
      this.fetchOrdersTotals(this.merchantBranchId);
    },
    async generateExcel(mimeType = "xls") {
      this.excelType = mimeType;
      if (this.merchantBranchId) {
        // set excel columns
        const excelFields = {};
        this.fields.forEach(val => {
          excelFields[val.label] = val.key === "_id" ? "id" : val.key;
        });
        this.excelFields = excelFields;
        const exportData = await this.$store.dispatch(
          "orders/FETCH_BRANCH_SALES_REPORT",
          this.merchantBranchId
        );
        if (exportData.length > 0) {
          return exportData.map(val => ({
            ...val,
            nexusAmount: getPaidCryptoQuantity(val)
          }));
        }
        this.generatingPdf = false;
        this.$root.$bvToast.toast(this.$t("COMMON.NO_DATA_AVAILABLE"), {
          title: this.$t("COMMON.INFORM"),
          variant: "warning",
          autoHideDelay: 5000
        });
      }
    },
    paymentStateClass: paymentStateClass,
    async fetchOrdersTotals(branchId) {
      try {
        const ordersTotals = await this.$store.dispatch(
          "orders/GET_ORDERS_TOTAL",
          branchId
        );
        // console.log(ordersTotals);
        this.ordersTotal = ordersTotals;
      } catch (error) {
        console.log("fetchOrdersTotals error: ", error);
      }
    },
    getPaidCryptoQuantity: getPaidCryptoQuantity,
    onClickRefund(item) {
      const vm = this;
      Swal.fire({
        title: this.$t("PAGES.SALES_MANAGEMENT.LIST.REFUND_WARNING"),
        icon: "warning",
        showCancelButton: true,
        confirmButtonText: this.$t("FORM.CONFIRM"),
        cancelButtonText: this.$t("FORM.CANCEL")
      }).then(result => {
        if (result.value) {
          const orderId = item.id || item._id;
          vm.refundOrder(orderId);
        }
      });
    },
    async refundOrder(orderId) {
      try {
        await this.$store.dispatch("orders/UPDATE_COMPANY_ORDER", {
          orderId,
          status: 6
        });
        this.$refs.listTable.refresh();
        this.$root.$bvToast.toast(this.$t("COMMON.operation_performed"), {
          title: this.$t("FORM.SUCCESS_TITLE"),
          variant: "succeess",
          autoHideDelay: 5000
        });
      } catch (error) {
        this.$root.$bvToast.toast(this.$t("FORM.ERROR"), {
          title: "",
          variant: "danger",
          autoHideDelay: 5000
        });
      }
    }
  }
};
</script>

<style lang="scss" scoped>
.payment-button {
  margin: 0;
  padding: 0;
  background-color: transparent;
  border: none;

  svg {
    width: 1.5rem;
    height: 1.5rem;
  }
}

.busy-spinner {
  width: 3rem;
  height: 3rem;
  margin: 5rem 0;
}
</style>
