<template>
  <div class="container">
    <div class="card card-custom example example-compact">
      <div class="card-header">
        <h3 class="card-title">
          {{ $t("PAGES.SALES_MANAGEMENT.QR_SALE.NEW_SALE_WITH_QR_CODE.TITLE") }}
        </h3>
        <div class="card-toolbar">
          <div class="example-tools justify-content-center"></div>
        </div>
      </div>
      <form class="form" @submit.stop.prevent="onSubmit">
        <div class="card-body">
          <h6>{{ $t("PAGES.SALES_MANAGEMENT.LINK_SALES.ORDER_INFO") }}</h6>
          <div class="form-group row">
            <label
              class="col-form-label text-left text-lg-right col-lg-3 col-sm-12"
              >{{ $t("PAGES.SALES_MANAGEMENT.LINK_SALES.ORDER_AMOUNT") }}</label
            >
            <div class="col-lg-6 col-md-9 col-sm-12">
              <input
                type="text"
                class="form-control money"
                id="kt_money_input"
                @change="calculateTotalAmount"
                v-model="$v.form.price.$model"
                :state="validateState('price')"
                aria-describedby="input-1-live-feedback"
              />
              <template v-if="$v.form.price.$error">
                <div class="validation error" v-if="!$v.form.price.required">
                  {{ $t("AUTH.VALIDATION.REQUIRED_FIELD") }}
                </div>
                <div class="validation error" v-if="!$v.form.price.decimal">
                  {{ $t("VALIDATION.NUMERIC") }}
                </div>
              </template>
            </div>
          </div>

          <div class="form-group row">
            <label
              class="col-form-label text-left text-lg-right col-lg-3 col-sm-12"
              >{{
                $t("PAGES.SALES_MANAGEMENT.LINK_SALES.COMMISSION_RATE")
              }}</label
            >
            <div class="col-lg-6 col-md-9 col-sm-12" v-if="!isFeeEditDisabled">
              <input
                type="text"
                @change="calculateTotalAmount"
                class="form-control"
                id="kt_money_input"
                v-model.number="$v.form.fee.$model"
                :state="validateState('fee')"
                aria-describedby="input-1-live-feedback"
              />
              <template v-if="$v.form.fee.$error">
                <div class="validation error" v-if="!$v.form.fee.required">
                  {{ $t("AUTH.VALIDATION.REQUIRED_FIELD") }}
                </div>
                <div class="validation error" v-if="!$v.form.fee.numeric">
                  {{ $t("VALIDATION.ONLY_INTEGERS") }}
                </div>
              </template>
            </div>
            <div class="col-lg-6 col-md-9 col-sm-12" v-else>
              <p class="form-control bg-secondary">{{ form.fee }}</p>
            </div>
          </div>

          <!-- <div class="form-group row">
            <label class="col-form-label text-right col-lg-3 col-sm-12">{{
              $t("PAGES.SALES_MANAGEMENT.LINK_SALES.DEDUCT_COMMISSION")
            }}</label>
            <div class="col-lg-6 col-md-9 col-sm-12 align-items-center d-flex">
              <label
                class="
                  form-check form-switch form-check-custom form-check-solid
                "
              >
                <input
                  class="form-check-input"
                  type="checkbox"
                  value="1"
                  checked="checked"
                  @change="calculateTotalAmount"
                  v-model="$v.form.feeIncluded.$model"
                  :state="validateState('feeIncluded')"
                  aria-describedby="input-1-live-feedback"
                />
                <span class="form-check-label">{{ $t("FORM.YES") }}</span>
              </label>
            </div>
          </div> -->

          <div class="form-group row">
            <label
              class="col-form-label text-left text-lg-right col-lg-3 col-sm-12"
              >{{
                $t("PAGES.SALES_MANAGEMENT.LINK_SALES.COMMISSION_AMOUNT")
              }}</label
            >
            <div class="col-lg-6 col-md-9 col-sm-12">
              <p class="form-control bg-secondary">{{ feeAmount }}</p>
            </div>
          </div>

          <div class="form-group row">
            <label
              class="col-form-label text-left text-lg-right col-lg-3 col-sm-12"
              >{{ $t("PAGES.SALES_MANAGEMENT.LINK_SALES.ORDER_TOTAL") }}</label
            >
            <div class="col-lg-6 col-md-9 col-sm-12">
              <p class="form-control bg-secondary">{{ totalAmount }}</p>
            </div>
          </div>

          <!--          <div class="form-group row">-->
          <!--            <label class="col-form-label text-right col-lg-3 col-sm-12"-->
          <!--              >Nakite Dönüştürülsün mü?</label-->
          <!--            >-->
          <!--            <div class="col-lg-6 col-md-9 col-sm-12">-->
          <!--              <label-->
          <!--                class="form-check form-switch form-check-custom form-check-solid"-->
          <!--              >-->
          <!--                <input-->
          <!--                  class="form-check-input"-->
          <!--                  type="checkbox"-->
          <!--                  value="1"-->
          <!--                  checked="checked"-->
          <!--                  v-model="$v.form.convertToCash.$model"-->
          <!--                  :state="validateState('convertToCash')"-->
          <!--                  aria-describedby="input-1-live-feedback"-->
          <!--                />-->
          <!--                <span class="form-check-label">EVET</span>-->
          <!--              </label>-->
          <!--              <div class="validation error" v-if="$v.form.convertToCash.$error">-->
          <!--                Bu alanı boş bırakmayınız.-->
          <!--              </div>-->
          <!--            </div>-->
          <!--          </div>-->
        </div>
        <div class="card-footer">
          <div class="row">
            <div class="col-lg-9 col-12 ml-lg-auto">
              <button
                type="submit"
                class="btn btn-success mr-2 col-12 col-md-4"
                data-toggle="modal"
                data-target="#exampleModal"
              >
                {{ $t("PAGES.SALES_MANAGEMENT.LINK_SALES.CREATE_LINK") }}
              </button>
            </div>
          </div>
        </div>
      </form>
    </div>

    <!-- <b-modal
        id="qr-reader-modal"
        v-model="startScan"
        @hidden="modalClosed"
        centered
        hide-footer
        modal-class="body-class"
    >
      <template #modal-header="{ close }">
        <h2
            class="m-0 w-100 text-primary w-100 text-center font-weight-bolder"
        >
          {{ displayDuration }}
        </h2>

        <button
            type="button"
            aria-label="Close"
            @click="close()"
            class="close"
        >
          ×
        </button>
      </template>
      <qrcode-stream
          :camera="camera"
          @decode="onDecode"
          :track="paintOutline"
          @init="onInit"
      >
        <div
            class="d-flex flex-1 align-items-center justify-content-center h-100"
            v-if="loading"
        >
          <b-icon
              icon="camera"
              font-scale="8"
              variant="warning"
              animation="cylon"
              class="mb-4"
          ></b-icon>
        </div>
      </qrcode-stream>
    </b-modal> -->
  </div>
</template>

<script>
/* eslint-disable no-console */

import { SET_BREADCRUMB } from "@/store/modules/breadcrumbs";
import { validationMixin } from "vuelidate";
import { mapState } from "vuex";

import { required, decimal, numeric } from "vuelidate/lib/validators";
import { mapGetters } from "vuex";
import Swal from "sweetalert2";

export default {
  mixins: [validationMixin],
  components: {},
  data() {
    return {
      modalShow: false,
      feeAmount: null,
      totalAmount: null,
      form: {
        // orderNumber: '',
        price: null,
        //convertToCash: false,
        feeIncluded: false,
        customerName: "",
        customerMail: "",
        customerPhone: "",
        fee: 3 // TODO REMOVE PROD
        // status: "pending", // TODO REMOVE PROD
        // selectedCurrencyId: 0, // TODO REMOVE PROD
        // MUST BE STRING IF USED
        // userId: 0,
        // createdAt: "2021-11-06 17:06:00", // TODO REMOVE PROD
        // updatedAt: "2021-11-06 17:06:00" // TODO REMOVE PROD
      },
      phoneIsValid: null
    };
  },
  computed: {
    ...mapGetters({
      activeUser: "activeUser",
      mainCompany: "company/MAIN_COMPANY"
    }),
    ...mapState({
      selectedOrder: state => state.orders.selectedOrder
    }),
    isFeeEditDisabled() {
      return this.activeUser?.roles?.includes("ROLE_BRANCH") ?? false;
    }
  },
  mounted() {
    this.$store.dispatch(SET_BREADCRUMB, [
      { title: this.$t("ROUTES.SALES_MANAGEMENT") },
      {
        title: this.$t(
          "PAGES.SALES_MANAGEMENT.QR_SALE.NEW_SALE_WITH_QR_CODE.TITLE"
        )
      }
    ]);
    if (this.mainCompany) {
      this.form.fee =
        this.mainCompany?.commission > 0 ? this.mainCompany.commission : 0;
    }
  },
  validations: {
    form: {
      // orderNumber: {
      //   required,
      //   minLength: minLength(3),
      // },
      price: {
        required,
        decimal
      },
      //convertToCash: {},
      fee: {
        required,
        numeric
      },
      feeIncluded: {}
    }
  },
  methods: {
    validateState(name) {
      const { $dirty, $error } = this.$v.form[name];
      return $dirty ? !$error : null;
    },
    // onValidate(event) {
    //   console.log(event);
    //   this.phoneIsValid = event.isValidByLibPhoneNumberJs;
    // },
    getParsedNumber(num) {
      if (num) return parseFloat(parseFloat(num).toFixed(2));
      return 0;
    },
    calculateTotalAmount() {
      this.$v.form.$touch();
      if (this.$v.form.$anyError) {
        return;
      }
      let price = 0;
      if (this.form?.price) {
        price = this.getParsedNumber(this.form.price);
        this.form.price = price;
      }
      const fee = this.form?.fee ? parseInt(this.form.fee) : 0;
      const feeIncluded = this.form.feeIncluded;

      this.feeAmount = this.getParsedNumber((price * fee) / 100);

      this.totalAmount = feeIncluded
        ? this.getParsedNumber(price - this.feeAmount)
        : this.getParsedNumber(price + this.feeAmount);
    },
    onSubmit() {
      const self = this;

      self.$v.form.$touch();
      if (self.$v.form.$anyError) {
        return;
      }
      // self.form.userId = self.activeUser.id;
      // const company = self.activeUser.company[0].split("/");
      // self.form.companyId = parseInt(company[company.length - 1]);

      self.$store
        .dispatch("orders/CREATE_ORDER", self.form)
        .then(function(order) {
          const setSelectedOrder = self.$store.dispatch(
            "orders/SET_SELECTED_ORDER",
            order
          );

          setSelectedOrder.then(() => {
            self.$router.push({ name: "qr-sale" });
            setInterval(function() {
              //self.$store.dispatch('orders/GET_ORDER',order['id']);
            }, 5000);
          });
        })
        .catch(res => {
          const { status, data } = res;
          let message = data?.message || this.$t("FORM.ERROR");
          if ([404, 405, 500].includes(+status)) {
            message = this.$t("FORM.ERROR");
          }
          Swal.fire({
            icon: "error",
            text: message,
            confirmButtonText: this.$t("FORM.OK")
          });
        });
    }
  }
};
</script>
