<template>
  <div class="container">
    <div class="card card-custom example example-compact">
      <div class="card-header">
        <h3 class="card-title">
          {{ $t("PAGES.SALES_MANAGEMENT.ORDER_DETAILS.SALE_DETAILS") }}
        </h3>
        <div class="card-toolbar">
          <div class="example-tools justify-content-center"></div>
        </div>
        <!--        DAHA SONRA AKTİF EDİLECEK-->
        <!--          <qr-code-reader  v-on:qrcode-scanned="QRCodeScanned" v-show="viewOrder.platform == 'Nexus'  && viewOrder.status == 1"></qr-code-reader>-->
      </div>

      <form class="form">
        <div class="card-body">
          <div class="row px-5">
            <div class="col-12 col-md-6">
              <h6>
                {{ $t("PAGES.SALES_MANAGEMENT.ORDER_DETAILS.ORDER_INFOS") }}
              </h6>
              <div class="col-12">
                <label class="col-form-label font-weight-bold"
                  >{{
                    $t("PAGES.SALES_MANAGEMENT.ORDER_DETAILS.ORDER_ID")
                  }}:</label
                >
                <span class="ml-2">{{
                  viewOrder.orderNumber ? viewOrder.orderNumber : null
                }}</span>
              </div>

              <div class="col-12">
                <label class="col-form-label font-weight-bold"
                  >{{
                    $t("PAGES.SALES_MANAGEMENT.LINK_SALES.ORDER_AMOUNT")
                  }}:</label
                >
                <span class="ml-2"
                  >{{ viewOrder.price }}
                  {{ getPaymentUnitName(viewOrder) | upperCase }}</span
                >
              </div>

              <div class="col-12">
                <label class="col-form-label font-weight-bold"
                  >{{
                    $t("PAGES.SALES_MANAGEMENT.LINK_SALES.COMMISSION_RATE")
                  }}:</label
                >
                <span class="ml-2">{{ viewOrder.fee }}%</span>
              </div>

              <div class="col-12">
                <label class="col-form-label font-weight-bold"
                  >{{ $t("PAGES.SALES_MANAGEMENT.LIST.TOTAL") }}:</label
                >
                <span class="ml-2"
                  >{{ getTotal(viewOrder) }}
                  {{ getPaymentUnitName(viewOrder) | upperCase }}</span
                >
              </div>

              <div class="col-12">
                <label class="col-form-label font-weight-bold"
                  >{{
                    $t("PAGES.SALES_MANAGEMENT.LINK_SALES.TRANSACTION_STATUS")
                  }}:</label
                >
                <span
                  class="badge ml-2"
                  :class="[getOrderBadgeAndLabel(viewOrder.status).itemClass]"
                >
                  {{ getOrderBadgeAndLabel(viewOrder.status).itemLabel }}
                </span>
              </div>
            </div>

            <div class="col-12 col-md-6">
              <h6>
                {{
                  $t(
                    "PAGES.SALES_MANAGEMENT.QR_SALE.NEW_SALE_WITH_QR_CODE.CUSTOMER_INFO"
                  )
                }}
              </h6>
              <div
                class="d-inline-flex col-12 align-items-center"
                v-if="viewOrder.customerName"
              >
                <label class="col-form-label font-weight-bold">
                  {{ viewOrder.customerName }}
                </label>
              </div>

              <div class="roe">
                <div
                  class="d-inline-flex col-12 col-md-6 align-items-center"
                  v-if="viewOrder.customerPhone"
                >
                  <i class="menu-icon flaticon2-phone text-primary"></i>
                  <label class="col-form-label ml-2">
                    {{ viewOrder.customerPhone }}
                  </label>
                </div>

                <div
                  v-if="viewOrder.customerMail"
                  class="d-inline-flex col-12 col-md-6 align-items-center"
                >
                  <i class="menu-icon flaticon2-email text-primary"></i>
                  <label class="col-form-label ml-2">
                    {{ viewOrder.customerMail }}
                  </label>
                </div>
              </div>
            </div>
          </div>
        </div>
      </form>
      <div class="card-footer d-flex justify-content-between">
        <button class="btn btn-primary" @click="back">
          {{ $t("MENU.BACK") }}
        </button>
        <!-- <button
          v-if="viewOrder.status == 0"
          class="btn btn-danger ml-2"
          @click="deleteOrder"
        >
          {{ $t("PAGES.SALES_MANAGEMENT.ORDER_DETAILS.DELETE_ORDER") }}
        </button> -->
      </div>
    </div>
    <!-- <div class="col-12 col-md-4 mt-md-0 mt-4">
      <b-button variant="outline-success" block @click="nonUserContinue">
        <span>{{
          $t(
            "PAGES.SALES_MANAGEMENT.QR_SALE.NEW_SALE_WITH_QR_CODE.NOT_MIRACLE_CUSTOMER"
          )
        }}</span>
      </b-button>
    </div> -->
    <b-modal
      v-model="isQrScanning"
      hide-header-close
      no-close-on-esc
      no-close-on-backdrop
      hide-footer
      hide-header
      id="scanModal"
    >
      <template #modal-title> </template>
      <b-alert show variant="info" class="pt-7">
        <div class="d-flex justify-content-center mb-3">
          <b-spinner label="Loading..." type="grow"></b-spinner>
        </div>
        <div class="d-flex justify-content-center mb-3">
          {{ $t("AUTH.LOGIN.LOADING_MESSAGE_TITLE") }}...
        </div>
      </b-alert>
    </b-modal>
    <b-modal
      v-model="showQrResult"
      hide-header-close
      no-close-on-esc
      no-close-on-backdrop
    >
      <template #modal-title>
        <span v-if="qrSuccess">{{
          $t("PAGES.SALES_MANAGEMENT.LINK_SALES.TRANSACTION_SUCCESS")
        }}</span>
        <span v-else>{{
          $t("PAGES.SALES_MANAGEMENT.LINK_SALES.TRANSACTION_ERROR")
        }}</span>
      </template>
      <b-alert show :variant="variant">
        <h3 class="m-0 py-3">
          <strong
            class="d-flex flex-1 flex-column align-items-center justify-content-center"
            v-if="qrSuccess"
          >
            <span>{{
              $t(
                "PAGES.SALES_MANAGEMENT.QR_SALE.NEW_SALE_WITH_QR_CODE.SUCCESS_TITLE"
              )
            }}</span>
            <span class="mt-3">{{
              $t(
                "PAGES.SALES_MANAGEMENT.QR_SALE.NEW_SALE_WITH_QR_CODE.SUCCESS_SUBTITLE"
              )
            }}</span>
          </strong>
          <strong
            class="d-flex flex-1 flex-column align-items-center justify-content-center"
            v-else
          >
            <span>{{
              $t(
                "PAGES.SALES_MANAGEMENT.QR_SALE.NEW_SALE_WITH_QR_CODE.AN_ERROR_HAS_OCCURRED"
              )
            }}</span>
            <span class="mt-2">{{
              $t(
                "PAGES.SALES_MANAGEMENT.QR_SALE.NEW_SALE_WITH_QR_CODE.ERROR_SUBTITLE"
              )
            }}</span>
            <small class="d-block mt-4 font-size-small">{{
              qrErrorMessage
            }}</small>
          </strong>
        </h3>
      </b-alert>
      <template #modal-footer>
        <div class="d-flex flex-1">
          <div v-if="!qrSuccess" class="d-inline-flex">
            <b-button
              class="d-inline-flex justify-self-start"
              variant="warning"
              @click="tryAgain"
              >{{
                $t(
                  "PAGES.SALES_MANAGEMENT.QR_SALE.NEW_SALE_WITH_QR_CODE.TRY_AGAIN"
                )
              }}</b-button
            >
          </div>
          <!-- href="/sales-management/list" -->
          <div class="d-inline-flex flex-1 justify-content-end">
            <b-button class="mr-3" variant="primary" @click="gotoList">{{
              $t(
                "PAGES.SALES_MANAGEMENT.QR_SALE.NEW_SALE_WITH_QR_CODE.ALL_ORDERS"
              )
            }}</b-button>
            <!-- href="/sales-management/link-sales" -->
            <b-button variant="primary" @click="newSale">{{
              $t(
                "PAGES.SALES_MANAGEMENT.QR_SALE.NEW_SALE_WITH_QR_CODE.NEW_ORDER"
              )
            }}</b-button>
          </div>
        </div>
      </template>
    </b-modal>
  </div>
</template>

<script>
import { mapGetters, mapActions } from "vuex";
import { SET_BREADCRUMB } from "@/store/modules/breadcrumbs";
import QrCodeReader from "../../../components/QrCode/QrCodeReader.vue";
import Swal from "sweetalert2";
import {
  getOrderBadgeAndLabel,
  getTotal,
  getPaymentUnitName
} from "../../../utils/order-helpers";
// eslint-disable-next-line no-unused-vars
import CurrencySelector from "@/components/currency/CurrencySelector";

export default {
  // eslint-disable-next-line vue/no-unused-components
  components: { QrCodeReader },
  data() {
    return {
      orderCompanyWallet: [],
      selectedCurrency: null,
      startScan: false,
      qrCode: null,
      showQrResult: false,
      variant: null,
      qrSuccess: false,
      qrErrorMessage: null,
      totalAmount: 0,
      feeAmount: 0,
      refreshInterval: null,
      nonUserModalShow: false,
      isQrScanning: false,
      selectedPaymentUnit: null,
      checkOrderStatusInterval: null
    };
  },
  computed: {
    ...mapGetters({
      viewOrder: "orders/VIEW_ORDER"
    })
  },
  mounted() {
    // console.log(this.viewOrder._id)
    this.$store.dispatch(SET_BREADCRUMB, [
      { title: this.$t("ROUTES.SALES_MANAGEMENT") },
      { title: this.$t("ROUTES.SALE_DETAILS") }
    ]);
  },
  beforeRouteLeave(to, from, next) {
    this.CLEAR_VIEW_ORDER();
    next();
  },
  methods: {
    ...mapActions("orders", ["DELETE_ORDER", "CLEAR_VIEW_ORDER"]),
    back() {
      this.$router.push({ name: "sales-list" });
    },
    async deleteOrder() {
      // await this.DELETE_ORDER(this.viewOrder._id);
      this.back();
    },
    getOrderBadgeAndLabel: getOrderBadgeAndLabel,
    getTotal: getTotal,
    getPaymentUnitName: getPaymentUnitName,
    tryAgain() {
      this.showQrResult = false;
    },
    newSale() {
      this.$router.replace({ name: "link-sales" });
    },
    gotoList() {
      this.$router.replace({ name: "sales-list" });
    },
    QRCodeScanned(qrCode) {
      // valid: e2130b297f605aedb30020158c935830b34a23028b8de065ec5b0b4987faf6fb

      if (qrCode) {
        console.log("aaaaaaa: ", this.viewOrder._id);
        console.log("qrCode: ", qrCode);

        this.isQrScanning = true;
        this.$store
          .dispatch("orders/WITHDRAW_QR_SALE", {
            order: this.viewOrder?.id ? this.viewOrder.id : this.viewOrder._id,
            qrCode: qrCode
          })
          .then(result => {
            console.log("result");
            console.log(result);
            // this.$root.$emit('hide::modal', 'scanModal')
            setTimeout(function() {
              Swal.fire({
                icon: "success",
                title:
                  "Başarılı. İade işlemi tahmini 1 gün içerisinde hesabınıza aktarılacaktır",
                confirmButtonText: "ok",
                allowOutsideClick: false
              });
            }, 1000);
            setTimeout(() => {
              this.$router.push({ name: "sales-list" });
              Swal.close();
            }, 4500);
          })
          .catch(err => {
            console.log("xxxxxx");
            console.log(err);
            Swal.fire({
              icon: "warning",
              title: "İade işlemi başarısız",
              confirmButtonText: "ok",
              allowOutsideClick: false
            });
          });
      }
    }
  }
};
</script>
