<template>
  <div>
    <div class="card">
      <div class="card-body">
        <div class="d-flex justify-content-between mb-4">
          <b-button class="mb-4" variant="primary" @click="prepareUserLink()">
            {{ $t("ROUTES.NEW_REPRESENTATIVE") }}
          </b-button>
        </div>

        <b-table
          ref="representativesTable"
          id="representatives-table"
          primary-key="_id"
          :items="fetchData"
          :fields="fields"
          :filter="filter"
          :filter-included-fields="filterIncludedFields"
          selectable
          select-mode="single"
          :busy.sync="isBusy"
          :per-page="perPage"
          :current-page="currentPage"
          @row-selected="onRowSelected"
        >
          <template #table-busy>
            <div class="text-center text-danger my-5">
              <b-spinner class="align-middle busy-spinner"></b-spinner>
            </div>
          </template>

          <template #cell(isActive)="data">
            <b-icon
              icon="check"
              font-scale="2.5"
              class="common-icon-color"
              variant="success"
              v-if="data.value"
            ></b-icon>
            <b-icon
              icon="x"
              v-else
              font-scale="2.5"
              class="common-icon-color"
            ></b-icon>
          </template>

          <template #cell(buttons)="row">
            <button class="list-button" @click.stop.prevent="fetchSubData(row)">
              <b-icon
                :icon="row.detailsShowing ? 'chevron-up' : 'chevron-down'"
                variant="success"
                font-scale="1.5"
              ></b-icon>
            </button>
          </template>

          <template #row-details="row">
            <b-card class="mx-4 px-4 mb-5" no-body>
              <b-table
                :caption="
                  row.item.name +
                    ' ' +
                    $t('PAGES.SALES_MANAGEMENT.LIST.AFFILIATED_COMPANIES')
                "
                caption-top
                ref="branchTable"
                primary-key="id"
                :items="row.item.companies"
                :fields="companyFields"
              ></b-table>
            </b-card>
          </template>
        </b-table>

        <div class="mt-5 col-12 pt-5">
          <b-pagination
            align="fill"
            v-model="currentPage"
            :total-rows="totalRows"
            :per-page="perPage"
            aria-controls="orders-table"
          ></b-pagination>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import { SET_BREADCRUMB } from "@/store/modules/breadcrumbs";
import { mapActions } from "vuex";
// import ListSearch from "@/components/list/ListSearch.vue";
// import DatePickers from "@/components/list/DatePickers.vue";
import { ListMixin } from "@/mixins/list.mixin";
import Api from "@/services/api";

export default {
  name: "RepresentativeList",
  //   components: { ListSearch, DatePickers },
  mixins: [ListMixin],
  data() {
    return {
      items: [],
      hasDeletedSubCompany: 0,
      hasDeletedRepresentative: 0,
      filterIncludedFields: ["firstName", "lastName"],
      filters: [
        {
          text: "ECOMMERCE.COMMON.ACTIVE",
          field: "isActive",
          currentValue: undefined
        }
      ],
      fields: [
        {
          key: "_id",
          label: "ID",
          sortable: true
        },
        {
          key: "name",
          label: this.$t("FORM.FULL_NAME"),
          sortable: true
        },
        {
          key: "email",
          label: this.$t("FORM.EMAIL"),
          sortable: true
        },
        {
          key: "phone",
          label: this.$t("FORM.PHONE"),
          sortable: true,
          class: "text-center"
        },
        {
          key: "isActive",
          label: this.$t("ECOMMERCE.COMMON.ACTIVE"),
          sortable: true,
          class: "text-center"
        },
        {
          key: "createdAt",
          label: this.$t("LIST.CREATED_AT"),
          sortable: true,
          class: "text-center",
          formatter: value => {
            return this.$moment(value).format("DD.MM.YYYY, HH:mm");
          }
        },
        {
          key: "buttons",
          label: "",
          class: "text-center"
        }
      ],
      companyFields: [
        {
          key: "id",
          label: "ID",
          sortable: true
        },
        {
          key: "title",
          label: this.$t("COMPANY.TITLE"),
          sortable: true
        }
      ]
    };
  },
  computed: {
    fetchUrl() {
      return `representatives`;
    }
  },
  mounted() {
    this.$store.dispatch(SET_BREADCRUMB, [
      { title: this.$t("ROUTES.CORPORATE") },
      { title: this.$t("ROUTES.SALES_REPRESENTATIVES") }
    ]);
  },
  methods: {
    ...mapActions({
      getCompany: "company/GET_COMPANY",
      setSelectedCompany: "company/SET_SELECTED_COMPANY",
      setSelecterepresentative: "representative/SET_SELECTED_REPRESENTATIVE",
      clearSelectedrepresentative:
        "representative/CLEAR_SELECTED_REPRESENTATIVE"
    }),
    async onRowSelected(item) {
      const representative = item[0];
      this.prepareUserLink(representative);
    },
    async fetchSubData(row) {
      const detailsShowing = !row.detailsShowing;
      const item = row.item;

      await this.fetchCompanies(detailsShowing, item);

      row.toggleDetails();
    },
    async fetchCompanies(detailsShowing, item) {
      if (detailsShowing) {
        const affiliatedCompanies = await Api.get(
          `representatives/${item._id}/companies`
        );
        item["companies"] = affiliatedCompanies.data;
      }
    },
    prepareUserLink(representative) {
      const action = representative
        ? this.setSelecterepresentative
        : this.clearSelectedrepresentative;

      action(representative).then(() => {
        this.$router.push({
          name: "sales-representative",
          params: { isRepresentative: true }
        });
      });
    }
  }
};
</script>

<style lang="scss" scoped>
.table td {
  padding: 0.5rem;
  vertical-align: middle;
}
</style>
