<template>
  <div>
    <representative-form
      v-on:delete-representative="onDeleteUser"
      v-on:submit="onSubmit"
      :showDeleteButton="showDeleteButton"
    ></representative-form>

    <div></div>
  </div>
</template>

<script>
import { mapActions, mapGetters } from "vuex";
import { UserMixin } from "@/mixins/user.mixin";
import RepresentativeForm from "@/components/forms/RepresentativeForm.vue";

export default {
  mixins: [UserMixin],
  components: { RepresentativeForm },
  props: ["isRepresentative"],
  computed: {
    ...mapGetters({
      selectedUser: `representative/SELECTED_REPRESENTATIVE`,
      selectedUserId: `representative/SELECTED_REPRESENTATIVE_ID`
    })
  },
  destroyed() {
    this.clearSelectedUser();
  },
  methods: {
    ...mapActions({
      clearSelectedUser: "representative/CLEAR_SELECTED_REPRESENTATIVE",
      deleteSelectedUser: "representative/DELETE_REPRESENTATIVE",
      toggleUserActiveStatus:
        "representative/TOGGLE_REPRESENTATIVE_ACTIVE_STATUS"
    })
  }
};
</script>
