<template>
  <transition name="fade-in-up">
    <div>
      Profile Page
    </div>
  </transition>
</template>

<script>
import { SET_BREADCRUMB } from "@/store/modules/breadcrumbs";

export default {
  components: {},
  mounted() {
    this.$store.dispatch(SET_BREADCRUMB, [
      { title: "Profile", route: "profile" },
      { title: "Detail" }
    ]);
  }
};
</script>
