<template>
  <div>
    <!-- Translate -->
    <div class="mb-5">
      {{ $t("TRANSLATOR.SELECT") }}
    </div>

    <!-- Card -->
    <div class="card mb-5">
      <div class="card-body">
        <example-form />
      </div>
    </div>

    <!-- Form -->
    <div>
      <b-card title="Card Title" class="mb-2">
        <b-card-text>
          Some quick example text to build on the card title and make up the
          bulk of the card's content.
        </b-card-text>
        <b-button href="#" variant="primary">Go somewhere</b-button>
      </b-card>
    </div>

    <!-- Modal -->
    <div class="mt-5">
      <b-button @click="modalShow = !modalShow">Open Modal</b-button>
      <b-modal v-model="modalShow">Hello From Modal!</b-modal>
    </div>

    <div class="mt-5">
      <div class="row">
        <div class="col-xxl-12 order-2 order-xxl-1">
          <AdvancedTableWidget2></AdvancedTableWidget2>
        </div>
      </div>
    </div>

    <div>
      <example-data-table></example-data-table>
    </div>
  </div>
</template>

<script>
import { SET_BREADCRUMB } from "@/store/modules/breadcrumbs";
import exampleForm from "@/components/example/Form.vue";
import exampleDataTable from "@/components/example/DataTable.vue";
import AdvancedTableWidget2 from "@/view/content/widgets/advance-table/Widget2.vue";

export default {
  components: {
    exampleForm,
    exampleDataTable,
    AdvancedTableWidget2
  },
  data() {
    return {
      modalShow: false
    };
  },
  mounted() {
    this.$store.dispatch(SET_BREADCRUMB, [{ title: "Samples" }]);
  }
};
</script>
