<template>
  <company-form
    :company="company"
    v-on:delete-company="deleteCompany"
    :showDeleteButton="true"
    v-on:submit="onSubmit"
    :isSubmitting="isSubmitting"
  >
  </company-form>
</template>

<script>
import { SET_BREADCRUMB } from "@/store/modules/breadcrumbs";
import { validationMixin } from "vuelidate";
import { mapActions, mapGetters } from "vuex";
import Api from "../../../services/api";
import CompanyForm from "../../../components/forms/CompanyForm.vue";

export default {
  mixins: [validationMixin],
  components: { CompanyForm },
  data() {
    return {
      subTitle: null,
      company: {},
      isSubmitting: false
    };
  },
  computed: {
    ...mapGetters({
      selectedCompany: "company/SELECTED_COMPANY",
      selectedCompanyId: "company/SELECTED_COMPANY_ID",
      isMerchant: "isMerchant"
    }),
    submitMessage() {
      const message = this.selectedCompanyId
        ? "FORM.UPDATED"
        : "FORM.SUBMITTED";
      return this.$t(message);
    }
  },
  watch: {
    selectedCompany(newCompany) {
      this.company = newCompany;
    }
  },
  mounted() {
    const endRoute = this.isMerchant ? "ROUTES.BRANCHES" : "ROUTES.COMPANIES";
    this.subTitle = this.selectedCompanyId
      ? this.$t("MENU.EDIT")
      : this.$t("MENU.NEW");

    this.$store.dispatch(SET_BREADCRUMB, [
      { title: this.$t("ROUTES.CORPORATE") },
      { title: this.$t(endRoute) },
      { title: this.subTitle }
    ]);
    this.$nextTick(() => {
      this.company = this.selectedCompany;
    });
  },
  beforeRouteLeave(to, from, next) {
    this.clearSelectedCompany();
    next();
  },
  methods: {
    ...mapActions({
      clearSelectedCompany: "company/CLEAR_SELECTED_COMPANY",
      deleteSelectedCompany: "company/DELETE_COMPANY",
      toggleCompanyActiveStatus: "company/TOGGLE_COMPANY_ACTIVE_STATUS"
    }),
    onSubmit(company) {
      const apiAction = this.selectedCompanyId ? Api.put : Api.post;
      let endPoint = "companies";
      endPoint += this.selectedCompanyId ? "/" + this.selectedCompanyId : "";

      const successTitle = this.$t("FORM.SUCCESS_TITLE");
      const errorTitle = this.$t("FORM.ERROR_TITLE");
      const successMessage = this.$t("COMPANY.COMPANY") + this.submitMessage;
      const errorMessage = this.$t("FORM.ERROR");

      this.isSubmitting = true;
      apiAction(endPoint, company)
        .then(() => {
          this.$root.$bvToast.toast(successMessage, {
            title: successTitle,
            variant: "success",
            autoHideDelay: 5000
          });
          this.$router.replace({ name: "company-companies" });
        })
        .catch(() => {
          this.$root.$bvToast.toast(errorMessage, {
            title: errorTitle,
            variant: "danger",
            autoHideDelay: 5000
          });
        })
        .finally(() => {
          this.isSubmitting = false;
        });
    },
    deleteCompany({ id, isActive }) {
      /* this.deleteSelectedCompany(id).then(() => {
        this.$router.replace({ name: "company-companies" });
      }); */
      this.toggleCompanyActiveStatus({ companyId: id, isActive })
        .then(() => {
          this.$root.$bvToast.toast(this.$t("FORM.SUBMITTED"), {
            title: this.$t("FORM.SUCCESS_TITLE"),
            variant: "success",
            autoHideDelay: 5000
          });
          this.$router.replace({ name: "company-companies" });
        })
        .catch(err => {
          const msg = err?.response?.data?.message || this.$t("FORM.ERROR");
          this.$root.$bvToast.toast(msg, {
            title: this.$t("FORM.ERROR_TITLE"),
            variant: "danger",
            autoHideDelay: 5000
          });
        });
    }
  }
};
</script>
