<template>
  <div>
    <div class="card">
      <div class="card-body">
        <table class="table datatable" ref="datatable">
          <thead>
            <tr>
              <th>ID</th>
              <th>Product Title</th>
              <th>Product Price</th>
              <th>Created On</th>
            </tr>
          </thead>
          <tbody>
            <tr v-for="item in products" :key="item.id">
              <td>{{ item.id }}</td>
              <td>{{ item.product_title }}</td>
              <td>{{ item.product_price }}</td>
              <td>{{ item.created_at }}</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</template>

<script>
import ApiService from "../../services/api";
import $ from "jquery";

export default {
  mounted() {
    const self = this;
    ApiService.get("/products").then(response => {
      self.products = response.data;
      self.$nextTick(function() {
        $(self.$refs["datatable"]).DataTable();
      });
    });
  },
  data: function() {
    return {
      products: []
    };
  }
};
</script>
