`<template>
  <div class="container">
    <div class="card card-custom example example-compact">
      <div class="form" v-if="isBranch || (checkFormCopany && isMerchant)">
        <div class="card-body">
          <div class="form-group row">
            <label class="col-form-label text-right col-lg-3 col-sm-12">
              {{ $t("COMPANY.TITLE") }}
            </label>
            <div class="col-lg-6 col-md-9 col-sm-12">
              <p class="form-control bg-secondary">{{ form.title }}</p>
            </div>
          </div>
          <div class="form-group row">
            <label class="col-form-label text-right col-lg-3 col-sm-12">
              {{ $t("FORM.EMAIL") }}
            </label>
            <div class="col-lg-6 col-md-9 col-sm-12">
              <p class="form-control bg-secondary">{{ form.email }}</p>
            </div>
          </div>
          <div class="form-group row">
            <label class="col-form-label text-right col-lg-3 col-sm-12">{{
              $t("COMPANY.TAX_NUMBER")
            }}</label>
            <div class="col-lg-6 col-md-9 col-sm-12">
              <p class="form-control bg-secondary">{{ form.taxNumber }}</p>
            </div>
          </div>
          <div class="form-group row">
            <label class="col-form-label text-right col-lg-3 col-sm-12">{{
              $t("COMPANY.TAX_ADMINISTRATION")
            }}</label>
            <div class="col-lg-6 col-md-9 col-sm-12">
              <p class="form-control bg-secondary">
                {{ form.taxAdministration }}
              </p>
            </div>
          </div>

          <div class="form-group row">
            <label class="col-form-label text-right col-lg-3 col-sm-12">{{
              $t("COMPANY.TAX_CITY")
            }}</label>
            <div class="col-lg-6 col-md-9 col-sm-12">
              <p class="form-control bg-secondary">{{ form.taxCity }}</p>
            </div>
          </div>

          <div class="form-group row">
            <label class="col-form-label text-right col-lg-3 col-sm-12">{{
              $t("PAGES.SALES_MANAGEMENT.LINK_SALES.COMMISSION_RATE")
            }}</label>
            <div class="col-lg-6 col-md-9 col-sm-12">
              <p class="form-control bg-secondary">{{ form.commission }}</p>
            </div>
          </div>

          <div class="form-group row">
            <label class="col-form-label text-right col-lg-3 col-sm-12">{{
              $t("COMPANY.SALES_REPRESENTATIVE")
            }}</label>
            <div class="col-lg-6 col-md-9 col-sm-12">
              <p class="form-control bg-secondary">
                {{
                  company.representativeName ? company.representativeName : ""
                }}
              </p>
            </div>
          </div>
        </div>
      </div>

      <form class="form" @submit.stop.prevent="onSubmit" v-else>
        <div class="card-body">
          <div class="form-group row">
            <label class="col-form-label text-right col-lg-3 col-sm-12">
              {{ $t("COMPANY.TITLE") }}
            </label>
            <div class="col-lg-6 col-md-9 col-sm-12">
              <input
                type="text"
                class="form-control"
                placeholder=""
                v-model="$v.form.title.$model"
                :state="validateState('title')"
                aria-describedby="input-1-live-feedback"
              />
              <div class="validation error" v-if="$v.form.title.$error">
                {{ $t("AUTH.VALIDATION.REQUIRED_FIELD") }}
              </div>
            </div>
          </div>
          <div class="form-group row">
            <label class="col-form-label text-right col-lg-3 col-sm-12">
              {{ $t("FORM.EMAIL") }}
            </label>
            <div class="col-lg-6 col-md-9 col-sm-12">
              <input
                type="text"
                class="form-control"
                placeholder=""
                v-model="$v.form.email.$model"
                :state="validateState('email')"
                aria-describedby="email-help"
              />
              <small v-if="isNew" id="email-help" class="form-text text-muted">
                {{ $t("COMPANY.MAIL_INFO_MESSAGE") }}
              </small>
              <div class="validation error" v-if="$v.form.email.$error">
                {{ $t("AUTH.VALIDATION.REQUIRED_FIELD") }}
              </div>
            </div>
          </div>
          <div class="form-group row">
            <label class="col-form-label text-right col-lg-3 col-sm-12">
              {{ $t("FORM.PHONE") }}
            </label>
            <div class="col-lg-6 col-md-9 col-sm-12">
              <input
                type="text"
                class="form-control"
                placeholder="5XXXXXXXXX"
                v-model="$v.form.phone.$model"
                :state="validateState('phone')"
              />
              <template v-if="$v.form.phone.$error">
                <div class="validation error" v-if="!$v.form.phone.required">
                  {{ $t("AUTH.VALIDATION.REQUIRED_FIELD") }}
                </div>
                <div class="validation error" v-if="!$v.form.phone.numeric">
                  {{ $t("VALIDATION.NUMERIC") }}
                </div>
                <div class="validation error" v-if="!$v.form.phone.maxLength">
                  {{
                    $t("VALIDATION.MAX_LENGTH", {
                      num: $v.form.phone.$params.maxLength.max
                    })
                  }}
                </div>
              </template>
            </div>
          </div>
          <div class="form-group row">
            <label class="col-form-label text-right col-lg-3 col-sm-12">{{
              $t("COMPANY.TAX_NUMBER")
            }}</label>
            <div class="col-lg-6 col-md-9 col-sm-12">
              <input
                type="text"
                class="form-control"
                placeholder=""
                v-model="$v.form.taxNumber.$model"
                :state="validateState('taxNumber')"
                aria-describedby="input-1-live-feedback"
              />
              <div class="validation error" v-if="$v.form.taxNumber.$error">
                {{ $t("AUTH.VALIDATION.REQUIRED_FIELD") }}
              </div>
            </div>
          </div>
          <div class="form-group row">
            <label class="col-form-label text-right col-lg-3 col-sm-12">{{
              $t("COMPANY.TAX_ADMINISTRATION")
            }}</label>
            <div class="col-lg-6 col-md-9 col-sm-12">
              <input
                type="text"
                class="form-control"
                placeholder=""
                v-model="$v.form.taxAdministration.$model"
                :state="validateState('taxAdministration')"
                aria-describedby="input-1-live-feedback"
              />
              <!-- <div class="validation error" v-if="$v.form.taxAdministration.$error">
                {{ $t('AUTH.VALIDATION.REQUIRED_FIELD') }}
              </div> -->
            </div>
          </div>

          <div class="form-group row">
            <label class="col-form-label text-right col-lg-3 col-sm-12">{{
              $t("COMPANY.TAX_CITY")
            }}</label>
            <div class="col-lg-6 col-md-9 col-sm-12">
              <input
                type="text"
                class="form-control"
                placeholder=""
                v-model="$v.form.taxCity.$model"
                :state="validateState('taxCity')"
                aria-describedby="input-1-live-feedback"
              />
              <!-- <div class="validation error" v-if="$v.form.taxCity.$error">
                {{ $t('AUTH.VALIDATION.REQUIRED_FIELD') }}
              </div> -->
            </div>
          </div>

          <div class="form-group row" v-if="isDistributor && !checkFormCopany">
            <label class="col-form-label text-right col-lg-3 col-sm-12">{{
              $t("PAGES.SALES_MANAGEMENT.LINK_SALES.COMMISSION_RATE")
            }}</label>
            <div class="col-lg-6 col-md-9 col-sm-12">
              <input
                type="text"
                class="form-control"
                placeholder=""
                id="kt_money_input"
                v-model.number="$v.form.commission.$model"
                :state="validateState('commission')"
                aria-describedby="input-1-live-feedback"
              />
              <template v-if="$v.form.commission.$error">
                <div
                  class="validation error"
                  v-if="!$v.form.commission.numeric"
                >
                  {{ $t("VALIDATION.ONLY_INTEGERS") }}
                </div>
                <div
                  class="validation error"
                  v-if="!$v.form.commission.minValue"
                >
                  {{
                    $t("VALIDATION.MIN_VALUE", {
                      name: $t(
                        "PAGES.SALES_MANAGEMENT.LINK_SALES.COMMISSION_RATE"
                      ),
                      min: $v.form.commission.$params.minValue.min
                    })
                  }}
                </div>
              </template>
            </div>
          </div>

          <div class="form-group row" v-if="isDistributor && !checkFormCopany">
            <label class="col-form-label text-right col-lg-3 col-sm-12">
              {{ $t("COMPANY.SALES_REPRESENTATIVE") }}
            </label>
            <div class="col-lg-6 col-md-9 col-sm-12">
              <b-form-select
                v-model="$v.form.representative.$model"
                :options="salesRepresentatives"
                text-field="name"
                value-field="id"
              >
                <template #first>
                  <b-form-select-option :value="null">{{
                    $t("FORM.PLEASE_SELECT")
                  }}</b-form-select-option>
                </template>
              </b-form-select>
            </div>
          </div>

          <!-- <div class="form-group row" v-if="isDistributor">
            <label class="col-form-label text-right col-lg-3 col-sm-12">
              POS
            </label>
            <div class="col-lg-6 col-md-9 col-sm-12">
              <b-form-select
                v-model="$v.form.pos.$model"
                :options="posList"
                text-field="label"
                value-field="id"
              >
                <template #first>
                  <b-form-select-option :value="null">{{
                    $t("FORM.PLEASE_SELECT")
                  }}</b-form-select-option>
                </template>
              </b-form-select>
            </div>
          </div> -->
        </div>
        <div class="card-footer">
          <div class="row">
            <div class="col-lg-9 ml-lg-auto d-flex justify-content-end">
              <button
                type="submit"
                class="btn btn-success mr-5"
                :disabled="isSubmitting"
              >
                <span
                  v-if="isSubmitting"
                  class="spinner-border spinner-border-sm"
                  role="status"
                  aria-hidden="true"
                ></span>
                {{ buttonTitle }}
              </button>
              <template v-if="isDistributor">
                <button
                  v-if="
                    company &&
                      company.id &&
                      company.isActive &&
                      showDeleteButton
                  "
                  @click.stop.prevent="
                    $emit('delete-company', { id: company.id, isActive: false })
                  "
                  class="btn btn-danger mr-2"
                >
                  {{ $t("COMMON.MAKE_PASSIVE") }}
                </button>
                <button
                  v-if="
                    company &&
                      company.id &&
                      !company.isActive &&
                      showDeleteButton
                  "
                  @click.stop.prevent="
                    $emit('delete-company', { id: company.id, isActive: true })
                  "
                  class="btn btn-success mr-2"
                >
                  {{ $t("COMMON.ACTIVATE") }}
                </button>
              </template>
            </div>
          </div>
        </div>
      </form>
    </div>
  </div>
</template>

<script>
import { mapGetters } from "vuex";
import {
  required,
  numeric,
  minValue,
  requiredIf,
  maxLength
} from "vuelidate/lib/validators";
import { validationMixin } from "vuelidate";
import Api from "@/services/api";

export default {
  mixins: [validationMixin],
  props: ["formCompany", "showDeleteButton", "isSubmitting"],
  computed: {
    ...mapGetters({
      selectedCompany: "company/SELECTED_COMPANY",
      activeUser: "activeUser",
      isBranch: "isBranch",
      isDistributor: "isDistributor",
      isMerchant: "isMerchant",
      mainCompany: "company/MAIN_COMPANY"
    }),
    isFeeEditDisabled() {
      return this.activeUser?.roles?.includes("ROLE_BRANCH") ?? false;
    },
    isEdit() {
      const company = this.formCompany ?? this.selectedCompany;
      return company && this.company.id ? true : false;
    },
    checkFormCopany() {
      return this.formCompany && Object.keys(this.formCompany).length > 0
        ? true
        : false;
    }
  },
  components: {},
  data() {
    return {
      company: {},
      companyUsers: [],
      form: {
        title: null,
        email: null,
        phone: null,
        taxNumber: "",
        taxAdministration: "",
        taxCity: "",
        hasQuickSale: false,
        commission: 0,
        // paymentUnit: null,
        representative: null,
        pos: null
      },
      isNew: true,
      buttonTitle: null,
      salesRepresentatives: [],
      posList: []
    };
  },
  validations: {
    form: {
      title: { required },
      email: { required },
      phone: {
        numeric,
        required: requiredIf(function() {
          return this.isDistributor || this.isMerchant;
        }),
        maxLength: maxLength(10)
      },
      taxNumber: {},
      taxAdministration: {},
      taxCity: {},
      commission: {
        numeric,
        minValue: minValue(0)
      },
      hasQuickSale: {},
      representative: {},
      pos: {}
    }
  },
  watch: {
    selectedCompany(newCompany) {
      this.company = newCompany;
      this.setForm();
    }
  },
  async mounted() {
    this.company = this.formCompany ?? this.selectedCompany;
    this.setForm();
  },
  methods: {
    async setForm() {
      const company = this.company;

      // if (!this.isBranch) {
      //   let posUrl = "pos?";
      //   posUrl += this.isDistributor ? "distributor.id=" : "merchant.id=";
      //   posUrl += this.company.id + "&branch.id=null&isActive=true";

      //   const fetchPos = await Api.get(posUrl);
      //   this.posList =
      //     fetchPos?.data.length > 0
      //       ? fetchPos.data.map(val => ({
      //           ...val,
      //           label: `${val.model} - ${val.serial}`
      //         }))
      //       : [];
      // }

      if (this.isDistributor) {
        const representativesData = await Api.get("representatives");
        this.salesRepresentatives =
          representativesData.data?.filter(
            representative => representative.isActive
          ) || [];
      }

      if (company?.representativeUri) {
        const representative = await Api.get(company.representativeUri);
        this.form.representative = representative.data.id;
      }

      if (this.isEdit) {
        this.isNew = false;
        this.buttonTitle = this.$t("FORM.UPDATE");
        this.form.title = company.title;
        this.form.email = company.email;
        this.form.phone = company?.phone || "";
        this.form.taxNumber = company?.taxNumber || "";
        this.form.taxAdministration = company?.taxAdministration || "";
        this.form.taxCity = company?.taxCity || "";
        this.form.hasQuickSale = company.hasQuickSale;
        this.form.commission = company.commission;
      } else {
        this.buttonTitle = this.$t("FORM.SUBMIT");
        if (!this.isDistributor) {
          this.form.isActive = false;
        }
      }
    },
    validateState(title) {
      const { $dirty, $error } = this.$v.form[title];
      return $dirty ? !$error : null;
    },
    onSubmit() {
      this.$v.form.$touch();
      if (this.$v.form.$anyError) {
        return;
      }

      this.form.hasQuickSale ??= false;
      delete this.form.pos;

      if (this.isDistributor) {
        if (this.form.representative) {
          this.form.representative = this.salesRepresentatives.find(
            val => val.id === this.form.representative
          );
        }
        if (this.form.pos) {
          this.form.pos = this.posList.find(val => val.id === this.form.pos);
        }
      }
      if (this.isMerchant && this.mainCompany) {
        this.form.commission =
          this.mainCompany?.commission > 0 ? this.mainCompany.commission : 0;
      }
      this.$emit("submit", this.form);
    }
  }
};
</script>
