<template>
  <div class="container">
    <div class="card card-custom">
      <div class="card-header align-items-center"></div>
      <b-form
        inline
        @submit.stop.prevent="onSubmit"
        novalidate
        class="flex-column align-items-stretch"
      >
        <div class="card-body">
          <div class="b-form-inline-group row">
            <label
              for="input-name"
              class="
                col-form-label
                text-right
                col-lg-3 col-sm-12
                align-items-start
                justify-content-end
              "
              >{{ $t("FORM.FULL_NAME") }}</label
            >
            <div class="col-lg-6 col-md-9 col-sm-12">
              <b-form-input
                id="input-name"
                name="input-name"
                v-model="$v.form.name.$model"
                :state="validateState('name')"
                aria-describedby="input-name-live-feedback"
              ></b-form-input>
              <b-form-invalid-feedback id="input-name-live-feedback">{{
                $t("AUTH.VALIDATION.REQUIRED_FIELD")
              }}</b-form-invalid-feedback>
            </div>
          </div>
          <div class="b-form-inline-group row">
            <label
              for="input-email"
              class="
                col-form-label
                text-right
                col-lg-3 col-sm-12
                align-items-start
                justify-content-end
              "
              >{{ $t("FORM.EMAIL") }}</label
            >
            <div class="col-lg-6 col-md-9 col-sm-12">
              <b-form-input
                id="input-email"
                name="input-email"
                type="email"
                v-model="$v.form.email.$model"
                :state="validateState('email')"
                aria-describedby="email-help-block"
              ></b-form-input>
              <b-form-invalid-feedback id="input-email-live-feedback">{{
                $t("AUTH.VALIDATION.INVALID", { name: $t("FORM.EMAIL") })
              }}</b-form-invalid-feedback>
            </div>
          </div>
          <div class="b-form-inline-group row">
            <label
              for="input-phone"
              class="
                col-form-label
                text-right
                col-lg-3 col-sm-12
                align-items-start
                justify-content-end
              "
              >{{ $t("FORM.PHONE") }}</label
            >
            <div class="col-lg-6 col-md-9 col-sm-12">
              <b-form-input
                id="input-phone"
                name="input-phone"
                v-model="$v.form.phone.$model"
                :state="validateState('phone')"
                aria-describedby="input-phone-live-feedback"
              ></b-form-input>
              <b-form-invalid-feedback id="input-phone-live-feedback">{{
                $t("AUTH.VALIDATION.REQUIRED_FIELD")
              }}</b-form-invalid-feedback>
            </div>
          </div>
        </div>
        <div class="d-flex card-footer justify-content-end">
          <b-button type="submit" variant="success">
            {{ buttonTitle }}
          </b-button>
          <b-button
            v-if="!isNew && showDeleteButton"
            class="ml-3"
            :variant="representative.isActive ? 'danger' : 'info'"
            @click.stop.prevent="$emit('delete-representative')"
          >
            {{
              representative.isActive
                ? $t("COMMON.MAKE_PASSIVE")
                : $t("COMMON.ACTIVATE")
            }}
          </b-button>
        </div>
      </b-form>
    </div>
  </div>
</template>

<script>
import { mapGetters } from "vuex";
import { required, email } from "vuelidate/lib/validators";
import { validationMixin } from "vuelidate";

export default {
  mixins: [validationMixin],
  props: ["showDeleteButton"],
  data() {
    return {
      representative: {},
      form: {
        name: null,
        email: null,
        phone: null,
        isActive: true
      },
      isNew: true,
      buttonTitle: null
    };
  },
  validations: {
    form: {
      name: { required },
      email: { required, email },
      phone: { required }
    }
  },
  computed: {
    ...mapGetters({
      selectedRepresentative: "representative/SELECTED_REPRESENTATIVE"
    })
  },
  mounted() {
    this.representative = this.selectedRepresentative;
    this.setForm();
  },
  methods: {
    setForm() {
      const representative = this.selectedRepresentative;

      if (representative?.id) {
        this.isNew = false;
        this.buttonTitle = this.$t("FORM.UPDATE");
        this.form.name = representative.name;
        this.form.email = representative.email;
        this.form.phone = representative.phone;
      } else {
        this.buttonTitle = this.$t("FORM.SUBMIT");
      }
    },
    validateState(title) {
      const { $dirty, $error } = this.$v.form[title];
      return $dirty ? !$error : null;
    },
    onSubmit() {
      this.$v.form.$touch();
      if (this.$v.form.$anyError) {
        return;
      }

      this.$emit("submit", this.form);
    }
  }
};
</script>
