<template>
  <div class="d-flex flex-1">
    <mp-typeahead
      class="w-100"
      v-model="searchValue"
      :data="searchResult"
      :serializer="item => item.name"
      :placeholder="$t('ECOMMERCE.COMMON.SEARCH')"
      @hit="hit"
    >
    </mp-typeahead>
  </div>
</template>

<script>
import MpTypeahead from "./../typeahead/MpTypeahead.vue";
import Api from "./../../services/api";
import { mapActions, mapGetters } from "vuex";

export default {
  name: "SearchForm",
  props: [],
  components: { MpTypeahead },
  data() {
    return {
      users: [],
      companies: [],
      searchValue: null,
      searchResult: [],
      selectedItem: null
    };
  },
  computed: {
    ...mapGetters({
      activeUser: "activeUser",
      mainCompany: "company/MAIN_COMPANY"
    })
  },
  mounted() {},
  watch: {
    async searchValue(searchValue) {
      if (searchValue.length < 2) return;

      const searchItem = {
        searchValue: searchValue,
        parentId: this.mainCompany.id
      };

      const searchResponse = await Api.post("search", searchItem);
      this.searchResult = searchResponse.data;
    }
  },
  methods: {
    ...mapActions({
      getCompany: "company/GET_COMPANY",
      getUser: "user/GET_USER",
      setSelectedCompany: "company/SET_SELECTED_COMPANY",
      setSelectedUser: "user/SET_SELECTED_USER"
    }),
    async hit(item) {
      const isUser = item.type === "user";

      const getAction = isUser ? this.getUser : this.getCompany;
      const setAction = isUser ? this.setSelectedUser : this.setSelectedCompany;

      const route = isUser
        ? "settings-users-user"
        : "company-companies-company";

      const params = isUser ? { activeUser: false, deleteable: true } : {};

      const result = await getAction(item.id);

      setAction(result.data).then(() => {
        const currentRouteName = this.$router.currentRoute.name;
        const isAlreadyIn = currentRouteName === route;

        if (!isAlreadyIn) {
          this.$router.push({ name: route, params: params });
        }
      });
    }
  }
};
</script>

<style lang="scss" scoped>
.search-container {
  position: relative;
  svg {
    position: absolute;
    left: 25px;
    color: #626367 !important;
  }
  input {
    padding-left: 35px;
  }
}
</style>
