<template>
  <div>
    <div class="row google mx-0 mb-5">
      <div class="d-flex flex-column col-12 col-md-8 p-5">
        <h3 class="text-center pt-4">
          {{ $t("FORM.LOGIN_WITH_GOOGLE") }}
        </h3>
        <div class="d-flex mt-3 p-3 justify-content-center">
          <b-button
            target="_blank"
            class="m-0 p-0 mr-3"
            href="https://play.google.com/store/apps/details?id=com.google.android.apps.authenticator2&hl=en&gl=US"
          >
            <img
              class="store-logo"
              src="/media/logos/google-play-badge.png"
              alt="google"
            />
          </b-button>
          <b-button
            target="_blank"
            class="m-0 p-0 mr-3"
            href="https://apps.apple.com/us/app/google-authenticator/id388497605#?platform=iphone"
          >
            <img src="/media/logos/apple-store.svg" alt="apple" />
          </b-button>
        </div>
      </div>
      <div
        class="
          d-flex
          col-12 col-md-4
          align-items-center
          justify-content-center
          bg-primary
        "
      >
        <b-button
          variant="light"
          class="px-5 text-dark"
          @click="showGoogleQrCodeModal"
        >
          {{ $t("FORM.CONFIRM") }}
        </b-button>
      </div>
    </div>
    <b-modal
      id="google-qr-code-modal"
      centered
      v-model="showModal"
      hide-header
      :ok-title="$t('FORM.OK')"
      :cancel-title="$t('FORM.CANCEL')"
      @ok="confirmQrCode"
      body-class="p-0"
    >
      <div>
        <img :src="qrCode" />
        <div class="message">
          <p class="mb-1">
            {{ $t("FORM.GOOGLE_SCAN_MESSAGE1") }}
            <strong>Google Authenticator</strong>
            {{ $t("FORM.GOOGLE_SCAN_MESSAGE2") }}
          </p>
          <p>
            {{ $t("FORM.WHEN_DONE") }}
            <strong>{{ $t("FORM.OK") }}</strong
            >'ı
            {{ $t("FORM.CLICK") }}
          </p>
        </div>
      </div>
    </b-modal>
  </div>
</template>

<script>
import { mapActions } from "vuex";

export default {
  data() {
    return {
      result: null,
      timer: null,
      scanDuration: 0,
      displayDuration: "05:00",
      showModal: false,
      qrCode: null
    };
  },
  methods: {
    ...mapActions({
      getGoogleQrCode: "user/GET_GOOGLE_QR_CODE",
      confirmGoogleQrCode: "user/CONFIRM_GOOGLE_QR_CODE"
    }),
    async showGoogleQrCodeModal() {
      this.showModal = true;

      const code = await this.getGoogleQrCode();
      this.qrCode = code.data.qrCode;
    },
    async confirmQrCode() {
      await this.confirmGoogleQrCode();
      this.$emit("qr-code-accepted");
    }
  }
};
</script>

<style lang="scss">
.store-logo {
  height: 40px;
}
.google {
  margin-top: 25px;
  border: 1px solid rgba(196, 195, 195, 0.596);
}

.message {
  padding: 1.25rem 2rem 0 2rem;
  border-top: 1px solid #ebedf3;
}
</style>
