.flex-column-full-fluid {
    -webkit-box-flex: 1;
    -ms-flex: 1 0 100%;
    flex: 1 0 100%;
}

.mp-purple {
    color: #672382;
}

.flip-list-move {
    transition: transform 0.6s;
}

.table th,
.table td {
    vertical-align: middle;
}

.common-icon-color {
    color: #adaeb4;
}

.common-gray-color {
    color: #3f4254;
}

.cursor-default {
    cursor: none !important;
}

.form-inline {
    .form-control.input-group,
    .form-control,
    .custom-select {
        width: inherit;
    }
}

.b-form-inline-group {
    margin-bottom: 1.75rem;
}

.list-button {
    margin: 0;
    background-color: transparent;
    border: none;
    transition: transform 0.3s;
    &.rotate-down {
        transform: rotate(180deg);
    }
}

.text-secondary-alt {
    color: #9fa3b4 !important;
  }